@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Azeret Mono", monospace;
}

.container{
    width: 1049px;
}

/* navbar start */
.navbar{
    display: flex;
    justify-content: center;
}
.navbar_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
    margin-top: 43px;
}
.navbar_content h3{
    font-size: 27px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.navbar_content button{
    color: rgb(13, 19, 33);
    font-size: 19px;
    font-weight: 600;
    padding: 16px 23px;
    border-radius: 8px;
    cursor: pointer;
}

/* banner start */
.banner_section{
    background: url(../asset/image/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner_content{
    text-align: center;
    margin-bottom: 41px;
    margin-top: 24px;
}
.banner_content h2{
    font-size: 44px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    line-height: 63px;
    margin-top: 29px;
    margin-bottom: 22px;
}
.banner_content p{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 29px;
}
.banner_content button{
    font-size: 18px;
    background-color: rgb(13, 19, 33);
    font-weight: 600;
    color: white;
    border-radius: 8px;
    padding: 19px 22px;
    cursor: pointer;
}

/* why start */
.why_section{
    margin-top: 68px;
}
.why{
    display: flex;
    justify-content: center;
}
.why_content{
    background: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
    padding-top: 74px;
    padding-bottom: 45px;
}
.why_content h2{
    text-align: center;
    font-size: 29px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-bottom: 22px;
}
.why_st_p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    text-align: center;
    margin-bottom: 44px;
}
.why_item_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.5) 100%);
    margin-bottom: 29px;
    margin-left: 89px;
    margin-right: 89px;
    border-radius: 16px;
}
.why_card_el{
    padding: 44px;
}
.why_card_el h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 22px;
    font-weight: 700;
}
.why_card_el p{
    margin-top: 15px;
    margin-bottom: 29px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
.why_card_img{
    padding: 44px;
}
.why_card_el button{
    cursor: pointer;
    padding: 11px 19px;
    border: 1px solid rgba(13, 19, 33, 0.701);
    font-size: 19px;
    font-weight: 600;
    color: rgba(13, 19, 33, 0.7);
    background: transparent;
}

/* inspire start */
.inspire_section{
    margin-top: 81px;
    margin-bottom: 144px;
}
.inspire{
    display: flex;
    justify-content: center;
}
.inspire_content{
    text-align: center;
}
.inspire_content h3{
    font-size: 29px;
    color: rgb(13, 19, 33);
    font-weight: 800;
}
.inspire_content p{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400;
    margin: 22px 132px 44px 132px;
}
.inspire_content_video{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 15px;
    padding: 29px;
}
.inspire_content_video iframe{
    border-radius: 15px;
}

/* target start */
.target_section{
    margin-top: 144px;
}
.target{
    display: flex;
    justify-content: center;
}
.target_section h3{
    font-size: 29px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    text-align: center;
}
.target_content_p{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 44px;
}
.target_content_lower{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    /* padding: 37px; */
}
.target_lower_card{
    padding: 37px;
    border-radius: 15px;
}
.target_lower_card h4{
    font-size: 22px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-top: 20px;
    margin-bottom: 8px;
}
.target_lower_card p{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 22px;
}
.target_lower_card a{
    font-size: 15px;
    font-weight: 700;
    color: rgb(13, 19, 33);
}

/* next start */
.next_section{
    margin-top: 102px;
    margin-bottom: 42px; /* will be removed */
}
.next{
    display: flex;
    justify-content: center;
}
.next_content h3{
    font-size: 29px;
    font-weight: 800;
    text-align: center;
    color: rgb(13, 19, 33);
}
.next_content_p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-top: 22px;
    margin-bottom: 44px;
}
.next_content_lower{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 22px;
}
.next_lower_card{
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 15px;
    padding: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
.next_card_el h4{
    font-size: 22px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.next_card_el p{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 22px;
}
.next_card_el a{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 700;
}